* {
  box-sizing: border-box;
}

:root {
  --green-700: #10B981;
  --green-100: #ECFDF5;
  --white: #ffffff;
  --gray: #D5D4D8;
  --dark-blue-700: #1f2937;
  --dark-blue-400: #273549;
}

body {
  background-color: var(--dark-blue-700);
  font-family: "Karla", sans-serif;
  margin: 0;
}

/* typo */

h1 {
  font-size: 2.5rem;
  color: var(--white);
  margin-bottom: -0.25em;

}

p {
  font-size: 1.25rem;
  color: var(--gray);
  line-height: 28px;
}

.btn {
  width: 45%;
  min-height: 40px;
  border: 0;
  border-radius: 10px;
  font-size: 1.2rem;
}

.theme-icon-wrapper {
  position: absolute;
  top: 15%;
  right: 35%;
}

.white-mode {
  background-color: var(--green-100);
  color: var(--dark-blue-400);
}

/* main */

.container {
  display: grid;
  grid-template-columns: minmax(1em, 1fr) minmax(300px, 500px) minmax(1em, 1fr);
  padding-top: 3em;
  position: relative;
}

.container>* {
  grid-column: 2
}

.green-title {
  color: var(--green-700);
  display: block;
}

.btn-primary {
  color: var(--white);
  background-color: var(--green-700);
  margin-top: 1em;
  margin-bottom: 2em;
}

.info {
  border-bottom: 2px solid #2F3E53;
  text-shadow: -1.5px 0px 1px var(--dark-blue-400)

}

.passwords-wrapper {
  display: flex;
  justify-content: space-around;
  padding-top: 2.2em;
}

.btn-accent {
  background-color: var(--dark-blue-400);
  color: var(--green-700);
}

@media (max-width:500px) {
  .btn {
    display: block;
    width: 100%;
    padding: 0.5em 0;
    margin-bottom: 1em;
  }

  .passwords-wrapper {
    padding-top: 1.5em;
    flex-direction: column;
  }

  .theme-icon-wrapper {
    position: absolute;
    right: 7%;
  }

}

/* 
.container {
  margin: 40px auto;
  width: 450px;
  height: 370px;
  background-color: var(--dark-blue-700);
  border-radius: 50% 15%;
}

.header {
  padding: 80px 0 35px 52px;

}

h1 {
  color: var(--white);
  font-weight: 800;
  font-size: 40px;
  line-height: 40px;

}

span {
  color: var(--green-700);
}

p {
  color: var(--gray);
  padding: 13px 0px 50px 0px;
  font-size: 20px;
  line-height: 28px;

}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  text-align: center;
  font-size: 15px;

}

.button-green {
  background-color: var(--green-400);
  color: var(--white);
  font-weight: 600px;
}

.button-dark {
  background-color: var(--dark-blue-400);
  color: var(--green-700);
  padding-inline: 30px;
  margin-inline: 10px;
  min-width: 200px;
  min-height: 38px;
}

.btn-group {
  border-top: 2px solid var(--dark-blue-400);
  width: 445px;
  margin: 0 auto;
  padding-top: 35px;
  text-align: center;
}

.error {
  padding-top: 10px;
  color: rgb(196, 46, 46);
  display: none;
}

.display {
  display: block;
}

.white-mode {
  background-color: var(--green-100);
  color: var(--dark-blue-400);
}

#theme-icon {
  padding: 5px;
} */